<?xml version="1.0" encoding="utf-8"?>
<settings>
	<category label="128">
		<setting label="30001" type="labelenum" id="review" default="TheAudioDb" values="TheAudioDb|none"/>
		<setting label="30002" type="select" id="lang" default="EN" values="CN|DE|EN|ES|FR|HU|IL|IT|JP|NL|NO|PL|PT|RU|SE" visible="eq(-1,0)"/>
		<setting type="sep"/>		
		<setting label="30003" type="labelenum" id="genre" default="TheAudioDb" values="Musicbrainz|allmusic|TheAudioDb|none"/>
		<setting label="30004" type="labelenum" id="style" default="TheAudioDb" values="allmusic|TheAudioDb|none"/>
		<setting label="30005" type="labelenum" id="mood" default="TheAudioDb" values="allmusic|TheAudioDb|none"/>
		<setting label="30006" type="labelenum" id="theme" default="TheAudioDb" values="allmusic|TheAudioDb|none"/>
		<setting label="30007" type="labelenum" id="rating" default="Musicbrainz" values="Musicbrainz|allmusic|TheAudioDb|none"/>
	</category>
	
	<category label="30020">
      <setting label="30021" type="bool" id="fanarttvthumbs" default="true"/>
      <setting label="30022" type="bool" id="tadbthumbs" default="true"/>
      <setting label="30023" type="bool" id="allmusicthumbs" default="false"/>
	</category>

	<category label="30010">
		<setting label="30013" type="labelenum" id="genrefb" default="none" values="Musicbrainz|allmusic|TheAudioDb|none"/>
		<setting label="30014" type="labelenum" id="stylefb" default="none" values="allmusic|TheAudioDb|none"/>
		<setting label="30015" type="labelenum" id="moodfb" default="none" values="allmusic|TheAudioDb|none"/>
		<setting label="30016" type="labelenum" id="themefb" default="none" values="allmusic|TheAudioDb|none"/>
		<setting label="30017" type="labelenum" id="ratingfb" default="none" values="Musicbrainz|allmusic|TheAudioDb|none"/>
	</category>

	<category label="30030">
      <setting label="30031" type="text" id="mbsite" default="http://Musicbrainz.org"/>
	</category>
</settings>
